html
  include ./base/head.pug

  body.text-center.d-flex
    .d-block.m-auto
      h2 A bad ass Webpack 4 boilerplate that uses Pug, Scss and ES6+
      img.webpack-diagram(src="./assets/img/webpack.png")