/* *   Common css for all the pages   * */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  /*  font-size: 100%; */
  font: inherit;
}

figcaption {
  @media (max-width: $tab) {
    padding-bottom: 1rem;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

/* Other styles */

* {
  outline: none !important;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* END: Other styles */

.caps {
  text-transform: uppercase;
}

textarea {
  resize: none;
}

/* Remove the following styles after adding reset.css file */
body {
  margin: 0;
  //background: $lighter-gray !important;
}

/* END: Remove the following styles after adding reset.css file */
