/*
Color Codes
*/
// $primary-color: #07a7f7;
$primary-color: #dedede;
$primary-blue: #0d143a;

/*
  Media Query Breakpoints
*/
$xs: 320px;
$sm: 576px;
$lg: 992px;
$tab: 767px;
$xl: 1200px;
$sxl: 1600px;
$mxl: 1900px;
$desktop: 1024px;
$desktop-lg: 1440px;

$w: #ffffff;

/*
 Media Query Breakpoints end
*/

//Font variables
